.App {
  text-align: center;
}

.card-toggle-frame {
  width: 500px;
  margin: 0 auto;
  margin-top: 30px;
}

.toggle-button {
  width: 50px;
  height: 25px;
  background: cornflowerblue;
  border-radius: 25px;
  position: relative;
  margin-bottom: 10px;
}

.toggle-button-inner {
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 50%;
  position: absolute;
  left: 2.5px;
  top: 2.5px;
}

.toggle-button.toggled .toggle-button-inner {
  left: unset;
  right: 2.5px;
}

.card {
  width: 200px;
  height: 350px;
  border-radius: 20px;
  background: yellow;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card.card-toggled {
  background: blueviolet;
  color: white;
}

/*tab*/
.tabs-container {
  margin-top: 30px;
  width: 500px;
}

.tab-list {
}

.tab {
  width: 33.33%;
  height: 30px;
  background: white;
  border: none;
}

.tab:last-child {
  border-right: none;
}

.tab.active {
  border: 5px solid blueviolet;
}

.tab-content {
  border: 2px solid blueviolet;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tab-content.active {
  background: lightblue;
}

/*accordion*/

.accordion {
  width: 500px;
  margin-top: 30px;
}

.accordion-title {
  display: block;
  width: 100%;
  background: cornflowerblue;
  border: none;
  position: relative;
}

.accordion-title p {
  color: white;
}

.accordion-title .button-icon {
  color: white;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  transition: all 0.3s ease-in-out;
}

.accordion-title.active .button-icon {
  transform: rotate(180deg);
  top: 30%;
}

.accordion-content {
  height: 300px;
  background: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*true false*/
.text-container {
  margin-top: 30px;
  width: 500px;
}

.input.true {
  color: blue;
}

.tfconditioner.true {
  color: blue;
}

.tfconditioner.false {
  color: red;
}
