.signal_bottom_light {
  padding: 20px;
}

.signal_light {
  width: 100px;
  height: 250px;
  background: black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.light {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 10px 0;
  background: gray;
}

.light_bottom {
  width: 200px;
  height: 30px;
  background: gray;
  margin: 10px auto;
}

.buttons {
  text-align: center;
}
