* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.nav-center {
  display: flex;
  background: #fff;
  align-items: center;
  padding: 20px 40px;
  justify-content: space-between;
  width: 100%;
}

.nav-links {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.nav-links li a {
  color: #000;
  text-decoration: none;
  display: block;
  padding: 0 20px;
}

.container {
  text-align: center;
  padding: 30px 0;
}

.btn-hero {
  margin-top: 0;
}

.candle_box {
  display: flex;
  justify-content: space-around;
}

.candle {
  width: 100px;
}

.candle img {
  width: 100%;
}

.color_choose {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.choose {
  width: 100px;
  height: 100px;
}

.choose.red {
  background-color: red;
}

.choose.green {
  background-color: green;
}

.choose.yellow {
  background-color: yellow;
}

.container.choosed_color {
  min-height: 500px;
}
