* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.nav-center {
  display: flex;
  background: #fff;
  align-items: center;
  padding: 20px 40px;
  justify-content: space-between;
  width: 100%;
}

.nav-links {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.nav-links li a {
  color: #000;
  text-decoration: none;
  display: block;
  padding: 0 20px;
}

.container {
  text-align: center;
  padding: 30px 0;
}

.btn-hero {
  margin-top: 0;
}

.candle_box {
  display: flex;
  justify-content: space-around;
}

.candle {
  width: 100px;
}

.candle img {
  width: 100%;
}

.color_choose {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.choose {
  width: 100px;
  height: 100px;
}

.choose.red {
  background-color: red;
}

.choose.green {
  background-color: green;
}

.choose.yellow {
  background-color: yellow;
}

.container.choosed_color {
  min-height: 500px;
}

.popup_button {
  background: violet;
}

.popup_open {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: light-gray;
  border: none;
  text-align: center;
  padding: 2px 5px;
}

.popup_background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.popup_relative_background {
  position: relative;
  width: 100%;
  height: 100%;
}

.popup_absolute {
  position: absolute;
  max-width: 780px;
  width: 90%;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
}

.popup_relative {
  width: 100%;
  height: 100%;
  position: relative;
}

.popup_body {
  width: 100%;
  padding: 30px 0;
}

.popup_close {
  position: absolute;
  top: 15px;
  right: 30px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  border: none;
  font-size: 24px;
}

.car_image {
  max-width: 700px;
}

.car_image img {
  width: 100%;
}
